/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply box-border font-sans;
  font-size: 16px;
  outline: none;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  outline: inherit;
  transition: background-color 0.15s;
}

*:not(input):focus {
  @apply ring-2 ring-offset-2 ring-primary-base ring-offset-gray-lightest;
}

.dark *:not(input):focus {
  @apply ring-offset-gray-darkest;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.scrollbar-hidden {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

input {
  width: 1px;
}

::-webkit-scrollbar {
  @apply w-2 bg-transparent;
}

::-webkit-scrollbar-track {
  @apply bg-gray-lighter dark:bg-gray-darker;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-base rounded-default;
}

body {
  overflow: hidden;
  max-height: 100vh;
}
